inline css
body
    h1{
        background-color: rgb(66, 244, 21);
    }
       
    internal css
    
   <h1> 
    <style>
img{
        width: 200px
        display:solid black;
        margin: 0 auto;
}

<head>
 <body>
  <styles>
  h1{
    color:yellow (132, 248)
    border:black; 
    background-color:violet;  
    
 <head>
  <body>
  }
head
  <body>
 p{
    
    margin: auto;
    font-size:15px ;
    background-color:solid rgb(232, 164, 132);
    color:solid blue;
    border:1px;
}
h2{
    color: black;
    margin: auto;
    font-size: 250%;
    border-color: brown;
    text-align: center;
    background-color: blue;
    border: 7px;
}
<h3>
<style>
li {
    color: 333#;
    border: 7px;
    background-color:violet;
    font-size: 250%;
     

    }
h4{
    color:black;
    border-color: yellow;
    font-size: 180%;
    text-align: center;
    background-color: blue;


}
.joviastyles{
    color: verdana,geneva,tahima,sans-serif;
    background-color: rgb(11, 243, 11);
    color: rgb(237, 237, 9);
}
ul{
    text-decoration: none;

}
li{
    display: block;
}
 a{
    text-decoration: none;
 }
  
